.cell {
  aspect-ratio: 1;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
