.container {
  composes: section from "../../../../css/section.css";
  grid-area: new-task;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  align-items: flex-start;
}

.header {
  composes: header from "../../../../css/header.css";
  margin: 0;
}
